*.exe
project.4coder
*.ilk
*.exe
*.zip
*.pdb
*.exp
*.obj
*.o
*.dll
*.nativecodeanalysis.xml
*.lib
*.o
build
.vscode
.vs
/schnitzel*
# macOS specific files and directories
.DS_Store
*.swp
*.dSYM/
*.so
*.xcuserstate
*.xcworkspace
*.xcodeproj/
generate_ctags.bat
.tags
!freetype.dll